In [104]:
import pandas as pd
import numpy as np

df = pd.read_csv('Cars Datasets 2025.csv', encoding='latin1')  # or 'ISO-8859-1'
print(df.head())

  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

  Seats        Torque
0     2        800 Nm
1     5        900 Nm
2     5  100 - 140 Nm
3     4        900 Nm
4     2        560 Nm

In [105]:
import numpy as np

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company Names              1218 non-null   object
 1   Cars Names                 1218 non-null   object
 2   Engines                    1218 non-null   object
 3   CC/Battery Capacity        1215 non-null   object
 4   HorsePower                 1218 non-null   object
 5   Total Speed                1218 non-null   object
 6   Performance(0 - 100 )KM/H  1212 non-null   object
 7   Cars Prices                1218 non-null   object
 8   Fuel Types                 1218 non-null   object
 9   Seats                      1218 non-null   object
 10  Torque                     1217 non-null   object
dtypes: object(11)
memory usage: 104.8+ KB

In [107]:
df.describe()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
count,1218,1218,1218,1215,1218,1218,1212,1218,1218,1218,1217
unique,37,1201,356,311,456,114,180,535,23,19,263
top,Nissan,Polo BlueMotion,I4,1984 cc,355 hp,250 km/h,6.5 sec,"$35,000",Petrol,5,400 Nm
freq,149,2,64,31,23,145,45,36,871,692,72

In [108]:
df.head()

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [109]:
import re
def clean_price(val):
    if pd.isna(val):
        return np.nan
    
    # Remove dollar signs and commas
    val = val.replace('$', '').replace(',', '').strip()
    
    # Match all numbers in the string
    numbers = re.findall(r'\d+', val)
    
    if not numbers:  # No numbers found
        return np.nan
    
    # Convert found numbers to integers
    numbers = list(map(int, numbers))
    
    # If multiple numbers, return average
    if len(numbers) > 1:
        return sum(numbers) // len(numbers)
    
    # If only one number, return it
    return numbers[0]

# Apply the function
df['Cars Prices'] = df['Cars Prices'].apply(clean_price).astype('Int64')

In [114]:
df['Cars Prices'] = df['Cars Prices'].fillna(df['Cars Prices'].mean().round().astype('int64'))

In [115]:
from sklearn.model_selection import train_test_split
X = df.drop('Cars Prices', axis=1)  # Features
y = df['Cars Prices']               # Target
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,test_size=0.2)

In [116]:
from sklearn.ensemble import VotingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [117]:
lr = LinearRegression()
rfr = RandomForestRegressor()
sv = SVR()

In [118]:
estimators = [('model1',lr),('model2',rfr),('model3',sv)]

In [119]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
one = OneHotEncoder()
X = one.fit_transform(X)

In [120]:
for estimator in estimators:
    score = cross_val_score(estimator[1],X,y,scoring='r2',cv=10)
    print(estimator[0],np.round(np.mean(score),2))

model1 -3.54
model2 -0.08
model3 -0.18

In [121]:
from sklearn.ensemble import VotingRegressor

In [124]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
print('Voting Regressor',np.round(np.mean(scores)),2)

Voting Regressor -0.0 2

In [125]:
for i in range(1,4):
  for j in range(1,4):
    for k in range(1,4):
      vr = VotingRegressor(estimators,weights=[i,j,k])
      scores = cross_val_score(vr,X,y,scoring='r2',cv=10)
      print("For i={},j={},k={}".format(i,j,k),np.round(np.mean(scores),2))

For i=1,j=1,k=1 -0.04
For i=1,j=1,k=2 0.08
For i=1,j=1,k=3 0.12
For i=1,j=2,k=1 0.14
For i=1,j=2,k=2 0.17
For i=1,j=2,k=3 0.19
For i=1,j=3,k=1 0.19
For i=1,j=3,k=2 0.19
For i=1,j=3,k=3 0.21
For i=2,j=1,k=1 -0.51
For i=2,j=1,k=2 -0.22
For i=2,j=1,k=3 -0.07
For i=2,j=2,k=1 -0.19
For i=2,j=2,k=2 -0.03
For i=2,j=2,k=3 0.04
For i=2,j=3,k=1 -0.0
For i=2,j=3,k=2 0.08
For i=2,j=3,k=3 0.13
For i=3,j=1,k=1 -0.93
For i=3,j=1,k=2 -0.52
For i=3,j=1,k=3 -0.31
For i=3,j=2,k=1 -0.51
For i=3,j=2,k=2 -0.26
For i=3,j=2,k=3 -0.13
For i=3,j=3,k=1 -0.26
For i=3,j=3,k=2 -0.1
For i=3,j=3,k=3 -0.03